$font: 'Poppins', sans-serif;
$white-color: rgb(255, 255, 255);
$purple-background: #2666CF;
$gray-background: #2C3333;

/* ------------------- */
/* Global */
/* -------------------*/

body {
  background-color: $purple-background;
  font-family: $font;
}

.header {
  background-color: $gray-background;
  padding: 25px;
}

.header__h1 {
  font-size: 40px;
  font-weight: 200;
  color: $white-color;
  text-align: center;
}

/* ------------------- */
/* Main */
/* -------------------*/



/* ------------------- */
/* footer */
/* -------------------*/

.footer {
  position: relative;
  background-color: $gray-background;
  width: 100%;
  height: 12.5em;
  top: 12em;
}

.footer__authors-h1 {
  display: flex;
  justify-content: center;
  color: $white-color;
  padding: 25px;
  font-weight: 100;
  font-size: 30px;
}

/* ------------------- */
/* footer mixins */
/* -------------------*/

@mixin logo-sizes {
  width: 90px;
  height: 90px;
} 

@mixin footer-container {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: 3em;
  position: absolute;
}

/* ------------------- */
/* footer containers styles */
/* -------------------*/

.footer__ander-container {
  @include footer-container;
  bottom: 0;
  .footer__ander-header {
    color: $white-color;
    font-size: 1.4em;
    font-weight: 100;
    position: absolute;
    top: 0;
  }
  
  .footer__img-1 {
    @include logo-sizes;
    position: relative;
    top: 15px;
    margin-left: 10px;
  }
}

.footer__joao-container {
  @include footer-container;
  bottom: 0;
  right: 0;
  
  .footer__joao-header {
    color: $white-color;
    font-size: 1.4em;
    font-weight: 100;
    position: absolute;
    top: 0;
  }
  
  .footer__img-2 {
    @include logo-sizes;
    position: relative;
    top: 15px;
    margin-left: 10px;
  }
}

