$font: "Poppins", sans-serif;
$white-color: rgb(255, 255, 255);
$purple-background: #2666cf;
$gray-background: #2c3333;

/* ------------------- */
/* Global */
/* -------------------*/

body {
  background-color: $purple-background;
  font-family: $font;
}

.header {
  background-color: $gray-background;
  padding: 25px;
}

.header__h1 {
  font-size: 30px;
  font-weight: 200;
  color: $white-color;
  text-align: center;
}

/* ------------------- */
/* Main */
/* -------------------*/

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #141414;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.main__h2,
.button {
  display: block;
  border: thin solid black;
  width: 3ch;
  margin-left: auto;
  margin-right: auto;
}

.main__h2 {
  width: 10ch;
  font-size: 10 rem;
}

.main__button-addHour {
  position: relative;
  top: -1rem;
  left: 25vw;
}

.main__button-subsHour {
  position: relative;
  bottom: 3rem;
  right: 25vw;
}

.main__button-addMin {
  position: relative;
  top: -1rem;
  left: 25vw;
}

.main__button-subsMin {
  position: relative;
  bottom: 3rem;
  right: 25vw;
}

.main__button-addSec {
  position: relative;
  top: -1rem;
  left: 25vw;
}

.main__button-subsSec {
  position: relative;
  bottom: 3rem;
  right: 25vw;
}

.main__button-start,
.main__button-reset,
.main__button-stop {
  width: 12ch;
}

.main__button-reset {
  position: relative;
  bottom: 1.65rem;
  right: 20vw;
}

.main__button-stop {
  position: relative;
  bottom: 3.3rem;
  left: 20vw;
}

.button:disabled {
  background: #8293f8; // background: black;
}

// .button::after {
//   content: "";
//   width: 100%;
//   position: absolute;
//   z-index: 1;
//   top: 0;
//   left: calc(-100% - 80px);
//   border-bottom: 80px solid #286cff;
//   border-right: 80px solid transparent;
//   transition: .4s ease-in-out all;
// }

// .button:hover::after {
//   left: 0;
// }

/* ------------------- */
/* footer */
/* -------------------*/

.footer {
  position: fixed;
  background-color: $gray-background;
  width: 100%;
  height: 15.75em;
  bottom: 0;
}

.footer__authors-h1 {
  display: flex;
  justify-content: center;
  color: $white-color;
  padding: 12px;
  font-weight: 100;
  font-size: 1.8em;
}

.footer__border {
  position: relative;
  width: 70%;
  margin: 0 auto;
  border-bottom: #fff 2px solid;
  bottom: 20px;
}

/* ------------------- */
/* footer mixins */
/* -------------------*/

@mixin logo-sizes {
  width: 5em;
  height: 5em;
}

@mixin footer-container {
  display: flex;
  justify-content: center;
  width: 45%;
  padding: 3em;
  position: absolute;
  top: 4.5em;
}

/* ------------------- */
/* footer containers styles */
/* -------------------*/

.footer__ander-container {
  @include footer-container;
  bottom: 0;
  .footer__ander-header {
    color: $white-color;
    font-size: 1.4em;
    font-weight: 100;
    position: absolute;
    top: 0;
  }

  .footer__img-1 {
    @include logo-sizes;
    position: relative;
    top: 15px;
    margin-left: 10px;
  }
}

.footer__joao-container {
  @include footer-container;
  bottom: 0;
  right: 0;

  .footer__joao-header {
    color: $white-color;
    font-size: 1.4em;
    font-weight: 100;
    position: absolute;
    top: 0;
  }

  .footer__img-2 {
    @include logo-sizes;
    position: relative;
    top: 15px;
    margin-left: 10px;
  }
}
