/* ------------------- */
/* Global */
/* -------------------*/
body {
  background-color: #1e52a6;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #1D1F20;
  padding: 25px;
}

.header__h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}

/* ------------------- */
/* Aside && header */
/* -------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: 1;
      flex-wrap: 1;
  height: 6em;
}

.header .header__h1 {
  border: 1px solid #000;
  margin: 0 auto;
}

.header .aside__img {
  width: 3em;
  -webkit-filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(268deg) brightness(117%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(268deg) brightness(117%) contrast(103%);
}

/* ------------------- */
/* Main */
/* -------------------*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.main__date-countdown-container {
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.7em;
}

.main__date-countdown-container * {
  text-align: center;
  -webkit-box-flex: .1;
      -ms-flex-positive: .1;
          flex-grow: .1;
  color: white;
  position: relative;
}

.main__date-countdown-container * p {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 30%;
  right: -9%;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .7em;
  margin-top: 1em;
}

.button {
  width: 2em;
  height: 2em;
  -webkit-box-flex: .1;
      -ms-flex-positive: .1;
          flex-grow: .1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #1D1F20;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.button:disabled {
  opacity: 0.7;
}

.main__principal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .7em;
  width: 25%;
  padding: 1em;
}

.main__principal-buttons .button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 850px) {
  .main__principal-buttons {
    margin-top: 2em;
    width: 88%;
  }
}

/* ------------------- */
/* footer */
/* -------------------*/
.footer {
  background-color: #1D1F20;
  width: 100%;
}

.footer__authors-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0em;
  padding: 1em 0em 0em 0em;
  color: white;
  border: 1px solids #000;
}

.footer__authors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  padding: 1em;
}

.footer__ander-container {
  -webkit-box-flex: .07;
      -ms-flex-positive: .07;
          flex-grow: .07;
}

.footer__ander-container .ander-header {
  text-align: center;
  font-weight: 100;
}

.footer__ander-container .footer__img-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .4em;
}

.footer__joao-container {
  -webkit-box-flex: .07;
      -ms-flex-positive: .07;
          flex-grow: .07;
}

.footer__joao-container .joao-header {
  text-align: center;
  font-weight: 100;
}

.footer__joao-container .footer__img-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .4em;
}

footer img {
  width: 4.2em;
  height: 4.2em;
}
/*# sourceMappingURL=style.css.map */